<header class="main-header">
    <span class="header-logo">Miguel Granadino</span>
    <div class="container">
	<nav class="header-nav">
            <ul>
                <li><a href="https://akira3030.github.io/formacion/index.html">Inicio</a></li>
		<li><a href="https://akira3030.github.io/formacion/index.html">Artículos</a></li>
		<li><a href="https://akira3030.github.io/formacion/libros.html">Libros</a></li>
		<li><a href="https://akira3030.github.io/formacion/pages/about.html">Acerca de</a></li>
            </ul>
	</nav>
    </div>
</header>
