.main-header {
	margin-bottom:20px;
}
.container {
	width: 960px;
	max-width: 100%;
	padding:0px;
	display: flex;
	margin:0px;
	align-items: left;
        justify-content: left;
        border-top:1px solid black; 
        border-bottom: 1px solid black;
}
.container h1 {
	padding:0px;
	margin:0px;
	padding-bottom:0px;
	border: 1px solid green;
	
}
.markdown-body .header-logo {
	font-size:24px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	margin-right:20px;
}
.markdown-body .header-nav ul {
	padding:0px;
	margin:0px;
	margin-bottom:0px;
}
.markdown-body .header-nav li {
	display: inline;
	margin-right:20px;
}
.markdown-body .header-nav a {
	display: inline-block;
	padding-left: 0px;
	color: black;
}


