img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	padding-left:0px;
}
.main-header .container {
	display: flex;
}
.main-nav ul {
	margin: 1em 0 .5em;
	padding-left:0px;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
	padding-left: 0px;
}
