<!DOCTYPE html>
<html>
  
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/estilo.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.csss">
    
    <style>
      .markdown-body {
          box-sizing: border-box;
          min-width: 200px;
          max-width: 980px;
          margin: 0 auto;
          padding: 45px;
      }

      @media (max-width: 767px) {
          .markdown-body {
            padding: 15px;
          }
      }
    </style>
  </head>
  
  <body>
    
    <article class="markdown-body">
      <h1>Unicorns</h1>
      <p>All the things</p>
    </article>
    
    
    <header>
      <div class="content">MG-Tect - Miguel Granadino Tech</div>
    </header>
    
    
    <main>
      <div class="content">
        {{ content }}
      </div>
    </main>
    
    
    <footer>
      <div class="content"></div>
    </footer>
    
    
  </body>
</html>
